#content {
  margin: 0 auto;
  width: 65%;
}

aside {
  width: 15%;
  margin-top: 100px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  float: right;
  line-height: 1.6;
  background-color: lightgray
}

#greeting-container {
  margin-top: 10px;
}

