body {
    margin-left: 20%;
    margin-right: 0;
    width: 60%;
    background-image: url("resource/Background.jpeg");
    color: cornsilk;
    background-attachment: fixed;
    text-align: center;
  }
  
  h2 {
    text-align: left;
  }
  
  aside {
    width: 14%;
    opacity: 0.75;
    margin-top: 100px;
    padding: 10px;
    margin-left: 62%;
    line-height: 1.6;
    background-color: darkslategray;
    position: fixed;
    text-align: left;
  }
  
  #greeting-container {
    margin-top: 10px;
  }